<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%
    reldelim1 = site.reldelim1 ?: ' &raquo;'
    reldelim2 = site.reldelim2 ?: ' |'
    render_sidebar = !site.embedded && !site.theme_nosidebar && !site.sidebars?.empty
    url_root = page.url
    if (!site.embedded && !site.docstitle) {
        titlesuffix = " &mdash; " + (site.docstitle ?: '')
    } else {
        titlesuffix = ''    
    }
%>
${include 'header.html'}
<body>
    ${content}
</body>
</html>